<!DOCTYPE html>
<html>
  <head>
    <title>L4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item"><%= link_to 'ユーザー登録', new_user_path , class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'ログアウト', logout_path, class: 'nav-link'%></li>
          <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link'%></li>
      </ul>
    </header>
    
    <%= yield %>
  </body>
</html>
